.charts-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping into multiple rows */
    justify-content: center; /* Center the charts on the page */
    padding: 20px;
    gap: 20px; /* Adds space between charts */
  }
  
  .charts-container > * {
    flex-basis: calc(50% - 20px); /* 2 charts per row, with space between */
    max-width: 600px;
    height: 800px;
  }
  
  .charts-container > :nth-child(3) {
    flex-basis: 100%; /* The line chart will take the full width in the second row */
    max-width: none; /* Remove the width limit for the line chart */
  }

.chart{
  border: 1px solid #1e1e1e;
  border-radius: 20px;
}